<div class="container">
    <div class="row  mt-4">
        <div class="col-lg-4">
            <h5>App Info</h5>
        </div>
        <div class="col-lg-8 text-center">
            <div class="row mb-3">
                <div class="col-lg-4 text-left">
                    <span style="" class="ml-auto"><strong>App Name</strong></span>
                </div>
                <div class="col-lg-8 text-left font-weight-light">
                    <span>SWC Teams SWC Teams SWC Teams SWC Teams</span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-4 text-left">
                    <span class="ml-auto ">App Name</span>
                </div>
                <div class="col-lg-8 text-left">
                    <span>SWC Teams SWC Teams SWC Teams SWC Teams</span>
                </div>
             <br>
            </div>
            <div class="row mb-3">
                <div class="col-lg-4 text-left">
                    <span class="ml-auto ">App Name</span>
                </div>
                <div class="col-lg-8 text-left">
                    <span>SWC Teams SWC Teams SWC Teams SWC Teams</span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-4 text-left">
                    <span class="ml-auto ">App Name</span>
                </div>
                <div class="col-lg-8 text-left">
                    <span>SWC Teams SWC Teams SWC Teams SWC Teams</span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-4 text-left">
                    <span class="ml-auto ">App Name App Name</span>
                </div>
                <div class="col-lg-8 text-left">
                    <span>SWC Teams SWC Teams SWC Teams SWC Teams</span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-4 text-left">
                    <span class="ml-auto ">App Name</span>
                </div>
                <div class="col-lg-8 text-left">
                    <span>SWC Teams SWC Teams SWC Teams SWC Teams</span>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

